@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* 
Colors

White  - rgba(231, 231, 231, 0.9)
Purple - rgba(91, 52, 231, 0.8)
*/

::selection {
  background: rgba(91, 52, 231, 0.4);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 2000;
}

nav.black {
  background: rgb(255, 255, 255, 1);
  height: 70px;
  padding: 0 100px;
  border-bottom: 2px solid rgba(91, 52, 231, 0.8);
}

nav .logo {
  padding: 18px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
}

nav .drawerBtn {
  float: right;
  margin: 0;
  padding: 18px 20px;
  display: none;
}

.dbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
}

.dbtn:focus {
  outline: none;
}

nav.black .dbtn {
  color: rgba(91, 52, 231, 0.9) !important;
}

.drawerUL {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.drawerUL li {
  list-style: none;
  display: block;
}

.drawerUL li a {
  display: block;
  line-height: 100%;
  padding: 12px 30px;
  color: #151515;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: 0.3s;
  border-bottom: 1px solid rgba(91, 52, 231, 0.8);
  color: rgba(91, 52, 231, 0.8);
}

.drawerUL li a:focus {
  outline: none;
}

.drawerUL li a.active {
  background: rgba(91, 52, 231, 0.8);
  color: #fff;
}

.drawerUL li a:hover {
  background: rgba(91, 52, 231, 0.8);
  border-bottom: 1px solid #fff;
  color: #fff;
}

nav.black .logo {
  color: rgb(0, 0, 0);
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 22px 20px;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 100%;
  padding: 12px 30px;
  color: #151515;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: 0.3s;
  color: #fff;
}

@media (max-width: 1320px) {
  .data {
    width: 100% !important;
  }

  .data h2 {
    margin: 0 auto !important;
  }
  .choropleth {
    flex-wrap: wrap;
  }

  .landingTable {
    margin: 0 auto !important;
  }
}

@media (max-width: 1080px) {
  /* nav ul li a {
    display: block;
  } */
  nav ul {
    display: none;
  }

  nav .logo {
    padding-left: 0;
  }

  nav .drawerBtn {
    display: block;
  }

  nav {
    padding-right: 20px !important;
    padding-left: 40px !important;
  }
}

@media (max-width: 850px) {
  section.bg-frst {
    min-height: 400px !important;
  }

  .content h2 {
    width: 60% !important;
    font-size: 1.5rem !important;
  }

  .content p {
    font-size: 14px !important;
  }

  .left-brand {
    width: 70% !important;
  }
  .csp-btn {
    font-size: 14px;
  }
  .left-brand-sub-contianer > p {
    line-height: 150% !important;
    font-size: 16px !important;
    text-align: justify !important;
  }

  h1 {
    font-size: 50px !important;
  }
}

@media (max-width: 550px) {
  section.bg-frst {
    min-height: 300px !important;
  }

  .content h2 {
    width: 90% !important;
    font-size: 1rem !important;
  }

  .left-brand {
    width: 90% !important;
  }

  .content p {
    font-size: 12px !important;
  }

  .csp-btn {
    font-size: 10px;
  }

  .left-brand-sub-contianer > p {
    line-height: 150% !important;
    font-size: 12px !important;
    text-align: justify !important;
  }
  h1 {
    font-size: 40px !important;
  }
}

nav.black ul li a {
  color: rgb(0, 0, 0);
}

nav ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: rgba(91, 52, 231, 0.8);
  color: #fff;
}

nav ul li a:hover {
  background: rgba(91, 52, 231, 0.8);
  border-bottom: 1px solid #fff;
  color: #fff;
}

nav.black ul li a:hover {
  background: rgba(91, 52, 231, 0.8);
  border-bottom: 1px solid transparent;
  color: #fff;
}

.for-dev {
  border-radius: 50px !important;
  background: rgba(91, 52, 231, 0.9) !important;
  padding: 5px 15px !important;
  font-size: 14px !important;
  border: 1.5 solid transparent !important;
}

.for-dev:hover {
  background: transparent !important;
  border: 1.5px solid white !important;
}

section.bg-frst {
  width: auto;
  height: auto;
  max-width: 100%;
  min-height: 500px;
  background: url("./bg.jpg");
  background-size: cover;
  background-position: center;
}

section.bg-frst > h1 {
  vertical-align: middle;
  padding: 150px 10%;
  padding-bottom: 0;
  text-align: center;
  color: white;
}

.content {
  margin: 50px 0;
}

.content h2 {
  margin: 10px auto;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  color: rgba(91, 52, 231, 0.99);
  padding: 5px 30px;
}

.content p {
  width: 90%;
  margin: 10px auto;
  text-align: justify;
  font-size: 18px;
  line-height: 150%;
}

.content p.footer {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  transition: 0.3s;
}

.map > svg {
  background: transparent;
}

.left-brand {
  width: 55%;
  padding: 8% 0 0 8%;
}

.left-brand h1 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 0;
}

.left-brand > .left-brand-sub-contianer {
  /* background: rgba(255, 255, 255, 0.15); */
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
  /* border-bottom: 5px solid rgba(91, 52, 231, 0.8); */

  /* border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.left-brand-sub-contianer > p {
  line-height: 150%;
  font-size: 18px;
  text-align: justify;
}

hr {
  margin-top: 0;
  border: none;
  height: 1px;
  background-color: #fff;
}

.csp-btn {
  padding: 5px 20px;
  background: rgba(91, 52, 231, 0.8);
  color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.3s;
  text-decoration: none !important;
  min-width: 50px;
}

.prpl-btn {
  padding: 0 10px;
  background: rgba(91, 52, 231, 0.8);
  color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.3s;
  min-width: 50px;
  text-decoration: none !important;
}

.prpl-btn:hover {
  background: transparent;
  color: rgba(91, 52, 231, 1);
  border: 2px solid rgba(91, 52, 231, 0.8);
}

.prpl-btn:focus {
  outline: none;
}
/* 
  @desc Border change to white
*/
.csp-btn:hover {
  border: 2px solid #fff;
  color: #fff;
}

/* 
  @desc change bg to white text to purple
*/

/* .csp-btn:hover {
  border: 2px solid rgba(91, 52, 231, 0.8);
  background: rgba(255, 255, 255, 1);
  color: rgba(91, 52, 231, 0.8);
} */

.csp-btn:focus {
  outline: none;
}

/* Don't bother this */
.cLink {
  text-decoration: none !important;
}

/* Choropleth  */

.choropleth {
  /* border: 1px solid black; */
  width: 90%;
  margin: 5px auto;
  display: flex;
}

.choropleth .data {
  width: 80%;
}

.brgy {
  /* fill: transparent; */
  stroke: rgb(224, 216, 253);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  transform: scale(1, 1);
  transition: 1s;
}

.brgy:hover {
  opacity: 0.3 !important;
  /* fill: rgba(91, 52, 231, 0.8); */

  /* transform: scale(1.005, 1.005); */
}

.brgy-disabled {
  pointer-events: none;
}

.data {
  /* border: 1px solid black; */
  text-align: center;
}
.data h2 {
  color: #000;
  font-size: 22px;
  margin: 0;
  /* border: 1px solid black; */
  border-radius: 0;
  width: 70%;
  max-width: 350px;
  margin: 0 auto;
  margin-left: 45%;
  margin-top: 20px;
  border-bottom: 3px solid rgba(91, 52, 231, 0.8);
  padding-bottom: 2px;
  transition: 0.3s;
  /* text-align: center; */
  /* padding-left: 10%; */
}

.data ul {
  list-style: none;
  text-align: left;
  line-height: 120%;
  margin: 50px auto;
  margin-top: 10px;
  float: right;
  width: 90%;
  /* border: 1px solid black; */
  padding-left: 50%;
}

.data ul li {
  font-size: 14px;
}

/* Third Content  */

.third-content ::selection {
  background: rgba(255, 255, 255, 0.4);
}

.third-content {
  width: 100%;
  height: 100vh;
  background: rgba(91, 52, 231, 0.95);
  margin: 0;
  padding: 5% 2%;
}

.third-content h2 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}

.third-content p {
  width: 90%;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}

.third-content .cards {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.third-content .cards .card {
  color: #fff !important;
  height: 50vh;
  width: 20%;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  border: 2px solid#fff;
  background: transparent;
  align-items: center;
}

.third-content .cards .card h4 {
  color: #fff !important;
}

.third-content .cards .card .rel-icons {
  margin: 20px 0;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 50px;
  transition: 0.3s;
}

.third-content .cards .card .rel-icons:hover {
  transform: scale(1.2);
}

.third-content .cards .card h4 {
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

.third-content .cards .card p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.third-content .cards .card h1:hover::after {
  content: attr(data-name);
  transition: all 0.5s;
}

.third-btn {
  padding: 5px 10px;
  background: transparent;
  color: #fff;
  text-align: center;
  border: 1.5px solid #fff;
  transition: 0.3s;
  border-radius: 50px;
  text-decoration: none !important;
}

.third-btn:focus {
  outline: none;
}

.third-btn:hover {
  color: rgba(91, 52, 231, 0.9);

  background: #fff;
}

/* End of Third Content */

/* Forth */

.forth {
  width: 100%;
  height: 50vh;
  background: rgba(255, 255, 255, 0.9);
}

.forth ::selection {
  background: rgba(91, 52, 231, 0.4);
}

.forth h1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: left;
  color: rgba(91, 52, 231, 0.9);
  font-size: 4em;
}

.forth p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: left;
  line-height: 110%;
}

.forth .forth-btn {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

.forth .forth-btn a {
  text-decoration: none;
  margin-right: 4%;
  padding: 5px 25px;
  color: rgba(91, 52, 231, 0.9);
  border: 1.5px solid rgba(91, 52, 231, 0.9);
  border-radius: 50px;
  font-size: 20px;
  transition: 0.3s;
}

.forth .forth-btn a:hover {
  border: 1.5px solid transparent;
  color: #fff;
  background: rgba(91, 52, 231, 0.9);
}

/*  End of Forth */

/* Start of Fifth */

.fifth {
  width: 100%;
  height: 50vh;
  background: rgba(34, 34, 34, 0.9);
}

.fifth h4 {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding-top: 1%;
  color: #fff;
}

.fifth .logo-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  display: flex;
}

.fifth .logo-container p {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  color: #fff;
}
/* End of Fifth */

/* Registration */
.forget-pass {
  width: 90% !important;
  margin: 0 auto;
  margin-right: 5%;
  text-align: right;
}
.forget-pass a {
  color: rgb(116, 113, 113) !important;
}

.sk-badge {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 12px;
  color: #fff;
  background: rgba(91, 52, 231, 0.9);
  border-radius: 50px;
}

.sk-container {
  max-width: 35%;
  max-height: 70vh;
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  border-bottom: 3px solid rgba(91, 52, 231, 0.9);
  box-shadow: 0 5px 15px #b8b6b6;
  text-align: center;
}

.sk-container h1 {
  padding: 10px 20px;
  padding-bottom: 0;
  font-size: 2.5em;
  color: rgba(91, 52, 231, 0.8);
}

.sk-container p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 10% 0;
}

.sk-custom-btn {
  width: 90%;
  margin: 50px auto;
  text-decoration: none !important;
  padding: 5px 20px;
  font-size: 20px;
  background: rgba(91, 52, 231, 0.9);
  color: #fff;
  border-radius: 50px;
  border: 1.5px solid transparent;
  transition: 0.3s;
}

.sk-custom-btn:hover {
  background: transparent;
  color: rgba(91, 52, 231, 0.9);
  border: 1.5px solid rgba(91, 52, 231, 0.9);
}

.sk-container .sk-flex {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.sk-flex-login {
  flex-direction: row-reverse !important;
}

.sk-flex-login div {
  width: 50% !important;
  height: 100% !important;
}

.sk-container .sk-flex div {
  width: 100%;
  height: 35%;
}

.login-container {
  height: 80vh !important;
  width: 35% !important;
}

.sk-form-control:focus {
  outline: none;
}
.sk-form-control:hover {
  border: 1px solid rgba(91, 52, 231, 0.9);
}
.sk-form-control:focus {
  border: 1px solid rgba(91, 52, 231, 0.9);
}

.sk-form-control {
  margin: 5px auto;
  padding: 5px 10px;
  width: 90%;
  height: 6vh;
  border: 1px solid rgba(193, 188, 212, 0.8);
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.sk-btn-main {
  width: 50%;
  height: 5vh;
  margin: 20px 0;
  border-radius: 50px;
  border: 1.5px solid transparent;
  background: rgba(91, 52, 231, 0.9);
  color: #fff;
  transition: 0.3s;
}

.sk-btn-main:hover {
  background: transparent;
  border: 1.5px solid rgba(91, 52, 231, 0.9);
  width: 90%;
  color: rgba(91, 52, 231, 0.9);
}

.sk-btn-main:focus {
  outline: none;
}

.sk-btn-main:disabled {
  cursor: not-allowed;
  width: 90%;
  background: #555 !important;
}

.disabled {
  cursor: not-allowed !important;
  width: 90%;
  background: rgb(219, 212, 212) !important;
}

.disabled:hover {
  border: 1.5px solid transparent !important;
  color: rgb(161, 161, 161) !important;
}

.sk-third-party {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25% !important;
}

.sk-or {
  margin: 10px auto;
  color: #555;
  font-size: 18px;
}

.custom-sign-in svg {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.custom-sign-in {
  width: 70%;
  height: 8vh;
  margin: 5px auto;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid white;
  color: black;
  text-decoration: none !important;
  outline: none !important;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 5px 15px rgb(160, 158, 158);
  transform: scale(1, 1);
  transition: 0.3s;
}

.GLink {
  border: 2px solid transparent !important;
  color: #666666 !important;
  font-size: 20px !important;
  transform: scale(1, 1) !important;
  transition: 0.3s ease-in-out !important;
}
.GLink:hover {
  box-shadow: 1px 5px 5px #b3b3b3 !important;
  transform: scale(1.1, 1.1) !important;
}

.GitLink {
  background: #333 !important;
  color: #fff !important;
  font-size: 20px !important;
  border: 2px solid transparent !important;
  transform: scale(1, 1) !important;
  transition: 0.3s ease-in-out !important;
}

.GitLink:hover {
  box-shadow: 1px 5px 5px #333 !important;
  transform: scale(1.1, 1.1) !important;
}

.muted-link {
  /* text-decoration: none !important; */
  color: rgb(116, 113, 113) !important;
  margin-top: 10px !important;
}

/* End of Registration */

/* Forget pass */

.forget-pass-container {
  height: 50vh !important;
}

/* Enf of forget pass */

/* Notifications */

.notif-container {
  width: 35%;
  height: 10vh !important;
  border: 1px solid black;
  margin: 2% auto;
  text-align: center;
  padding: 5px 0;
}

.notif {
  border: 1px solid black;
  margin: 0 auto;

  height: 5%;
  background: white;
  border-radius: 5px;
}

.notif-success {
  border-bottom: rgba(91, 52, 231, 0.9);
  line-height: 100%;
  font-size: 14px;
  text-align: left;
}

.notif-success strong {
  font-size: 16px;
  color: rgba(91, 52, 231, 0.9);
}

/* End of Notifications */

/* sk-tbl */

.landingTable {
  margin: 5px 0 0 auto;
}

.landingTable tr td {
  text-align: left;
  padding: 0;
  min-width: 120px;
  max-width: 120px;
  border-bottom: 2px solid rgba(91, 52, 231, 0.9);
}

.landingTable tr td:nth-child(1) {
  text-align: center !important;
}

/* end sk-tbl */

/* Manda Map */

.sec-map {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10% 10px;
  background: rgba(91, 52, 231, 0.9);
}

.sec-map h2 {
  color: white;
}

.sec-map p {
  color: white;
  font-size: 20px;
  line-height: 150%;
}

.main-map {
  width: 95%;
  height: 120vh;
  margin: 0 auto;
}

.main-map .scoreboard-panel {
  height: auto;
  width: 25%;
  padding: 10px 20px;
  box-shadow: 0 7px 11px 2px rgba(63, 63, 63, 0.4);
  border-radius: 5px;
  border-bottom: 2px solid rgba(91, 52, 231, 0.9);
  text-align: center;
  margin-top: 1%;
}

.main-map .scoreboard-panel h2 {
  color: rgba(91, 52, 231, 0.9);
  font-size: 20px;
}

.main-map .scoreboard-panel .main {
  text-align: left;
}

.main-map .scoreboard-panel .main ul {
  /* border: 1px solid black; */
  list-style: none;
}

.main-map .secondary {
  font-size: 12px;
}

.main-map .map-setting-panel {
  height: auto;
  width: 25%;
  padding: 1% 20px;
  margin-top: 1%;
  box-shadow: 0 7px 11px 2px rgba(63, 63, 63, 0.4);
  border-radius: 5px;
  border-bottom: 2px solid rgba(91, 52, 231, 0.9);
  text-align: center;
}

.main-map .map-setting-panel h2 {
  color: rgba(91, 52, 231, 0.9);
  margin-top: 20px;
  font-size: 20px;
}
.main-map .map-setting-panel h4 {
  font-size: 16px;
}

.main-map .map-setting-panel .main {
  text-align: left;
}

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: rgba(91, 52, 231, 0.9) !important;
  border-color: rgba(91, 52, 231, 0.9) !important;
}

.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner::after {
  background-color: #5b34e7 !important;
}

.ant-select .ant-select-enabled:hover {
  border: 0.5px solid rgba(91, 52, 231, 0.9) !important;
}

.ant-select .ant-select-enabled:focus {
  border: 0.5px solid rgba(91, 52, 231, 0.9) !important;
  outline: none !important;
}

svg {
  vertical-align: initial !important;
}

.ant-select-tree-node-content-wrapper:hover {
  background-color: rgba(91, 52, 231, 0.247) !important;
}

.ant-select-selection__choice {
  border-radius: 6px !important;
  border: 0.5px solid rgba(91, 52, 231, 0.9) !important;
}

.sk-icon-color {
  color: rgba(91, 52, 231, 0.9) !important;
}

.ant-select-dropdown-menu-item:hover {
  background-color: rgba(91, 52, 231, 0.247) !important;
}

.ant-select-dropdown-menu-item-selected {
  background-color: rgba(91, 52, 231, 0.247) !important;
  color: white;
}

.ant-select-selection:hover {
  border: 1px solid rgba(91, 52, 231, 0.5) !important;
}

.ant-select:focus {
  box-shadow: none !important;
  outline: none !important;
}

.ant-select-focused:focus {
  box-shadow: none !important;
  outline: none !important;
}

.main-map-div {
  position: absolute;
  width: 90%;
}

.main-map-svg {
  /* border: 1px solid black; */
  width: 70%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  margin-top: 1%;
  right: 1%;
  position: absolute;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(91, 52, 231, 0.9);
  border-color: rgba(91, 52, 231, 0.9);
}

.leaflet-map {
  width: 70%;
  height: 90vh;
  min-height: 60vh;
  /* display: none; */
  margin-top: 1%;
  right: 1%;
  position: absolute;
}
/* End of Manda Map */

/* Pulse effect */

.high-pulse {
  animation: highPulse 3s linear infinite;
}

@keyframes highPulse {
  0% {
    fill: rgba(248, 47, 7);
  }

  40% {
    fill: rgba(248, 47, 7, 0.849);
  }

  70% {
    fill: rgba(248, 47, 7, 0.568);
  }

  100% {
    fill: rgba(248, 47, 7, 0.322);
  }
}

.low-pulse {
  animation: lowPulse 3s linear infinite;
}

@keyframes lowPulse {
  0% {
    fill: rgb(20, 240, 75);
  }

  40% {
    fill: rgba(20, 240, 75, 0.849);
  }

  70% {
    fill: rgba(20, 240, 75, 0.568);
  }

  100% {
    fill: rgba(20, 240, 75, 0.322);
  }
}

/* End of pulse effect */

/* ToolTip */

.sk-tooltip {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  width: auto;
  height: auto;
  max-width: 340px;
  max-height: 300px;
  min-height: 180px;
}

.sk-tooltip:focus {
  opacity: 0.3;
}

/* End of ToolTip */

/* Radio button */

.ant-radio-button-wrapper:hover {
  color: rgba(91, 52, 231, 0.9) !important;
}

.ant-radio-button-wrapper-checked {
  color: rgba(91, 52, 231, 0.9) !important;
  border: 1px solid rgba(91, 52, 231, 0.9) !important;
}

/* End radio button */

/* Legend */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info strong {
  margin: 0 auto;
  font-size: 14px;
  color: #555;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* End of legend */

/* Sk SVG */

.sk-svg-middle {
  vertical-align: middle !important;
}

/* End of Sk SVG */

/* Sidebar */

.ant-layout {
  min-height: 100vh !important;
}

.trigger {
  font-size: 30px;
  line-height: 74px;
  padding: 0 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sidebar-logo {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative;
  top: 20px;
}
.sidebar-logo-label {
  display: block !important;
  margin-top: 20px;
  font-size: 28px;
}

.user-cogs {
  font-size: 30px;
  line-height: 74px;
  padding-right: 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: right;
  transition: 0.3s;
}

.user-cogs:hover {
  color: #1890ff;
}

.user-content-main {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280;
}

.tableTooltip {
  cursor: pointer;
}
/* End of sidebar */

/* Download btn */

.download-btn {
  margin-top: 20px;
  padding: 20px 15px;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100px;
}

/* End of Download btn */

/* add data */

.ant-form {
  max-width: 500px !important;
  margin: 0 auto !important;
}

.ant-calendar-picker {
  width: 100%;
}

/* end of add data */

/* Side Panel */

.side-panel {
  border-radius: 10px;
  /* background-color: rgba(195, 179, 255, 0.247);
  box-shadow: 2px 2px 1px 2px rgba(186, 179, 211, 0.247); */
  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 250px;
  max-height: 450px;
  padding: 15px;
  margin: 50px;
}

/* End of Side Panel */

.panel-header {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  background: url("./bg.jpg");
  background-size: cover;
  background-position: center;
}

.panel-header h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 150px;
  color: #fff;
  font-size: 7em;
}

.main-panel {
  display: flex;
}

.article-panel {
  margin: 50px;
}

.article-panel p {
  border-radius: 1.5px;
  padding: 15px;
  margin: 30px 0;
  max-width: 100%;
  width: auto;
  height: auto;
  line-height: 150%;
  border-bottom: 1.5px solid rgba(91, 52, 231, 0.9);
  box-shadow: 2px 1px 3px 1px #888;
}

.article-title {
  font-size: 45px;
  text-align: left;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  box-shadow: 2px 1px 5px 1px #aaa !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(91, 52, 231, 0.212) !important;
  color: rgba(91, 52, 231, 0.9) !important;
}

/* .ant-menu-item:hover
  .ant-menu-item-active
  .ant-menu:not(.ant-menu-inline)
  .ant-menu-submenu-open
  .ant-menu-submenu-active
  .ant-menu-submenu-title:hover {
  color: rgba(91, 52, 231, 0.9) !important;
} */

.ant-menu-item:hover {
  color: rgba(91, 52, 231, 0.9) !important;
}
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid rgba(91, 52, 231, 0.9) !important;
}

.ant-menu-submenu-title:hover,
.ant-menu-submenu-selected,
.ant-menu-submenu-selected:hover {
  color: rgba(91, 52, 231, 0.9) !important;
}

.sublink:hover {
  text-decoration: none;
  color: rgba(91, 52, 231, 0.9) !important;
}
