@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* 
Colors

White  - rgba(231, 231, 231, 0.9)
Purple - rgba(91, 52, 231, 0.8)
*/

::selection {
  background: rgba(91, 52, 231, 0.4);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

nav.black {
  background: rgb(255, 255, 255, 0.95);
  height: 70px;
  padding: 0 100px;
  border-bottom: 2px solid rgba(91, 52, 231, 0.8);
}

nav .logo {
  padding: 18px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
}

nav.black .logo {
  color: rgb(0, 0, 0);
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 22px 20px;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 100%;
  padding: 12px 30px;
  color: #151515;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: 0.3s;
  color: #fff;
}

nav.black ul li a {
  color: rgb(0, 0, 0);
}

nav ul li a:focus {
  outline: none;
}

nav ul li a:hover {
  background: rgba(91, 52, 231, 0.8);
  color: #fff;
}

section.bg-frst {
  width: 100%;
  height: 100vh;
  background: url("./bg.jpg");
  background-size: cover;
  background-position: center;
}

section.bg-frst > h1 {
  vertical-align: middle;
  padding: 150px 10%;
  padding-bottom: 0;
  text-align: center;
  color: white;
}

.content {
  margin-top: 80px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

.content-msg {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 10px;
  min-height: 100px;
  min-width: 10em;
  max-width: 80em;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  border-bottom: solid rgba(91, 52, 231, 0.8) 5px;
}

.content-msg p {
  margin: auto 10px;
  text-align: justify;
}

/* Don't bother this */
.cLink {
  text-decoration: none !important;
}
